nav{
    height: 30px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: $teal;
}


.navbar-dark .navbar-nav .active > .nav-link{
    color: $green;
}